html {
    font-family: 'Fira Sans', sans-serif;
}

body {
    color: #fff;
    text-align: center;
    padding: 3vh;
    background: #111 url(i/layout.svg) no-repeat center;
    background-size: 150vw;
}

a, a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

a:hover {
    text-decoration: none;
    border-bottom: 2px solid #fff;
}

h1 {
    font-size: 3vh;
    font-weight: 500;
    margin: 0 0 3vh 0;
    padding: 0;
}

.lang-switcher {
    font-size: 1.5vh;
    display: inline-block;
    position: absolute;
    top: 3vh;
    right: 3vh;
}

@media (max-width: 600px) {

    .lang-switcher {
        display: block;
        position: relative;
        margin: 0;
    }
    
}

h2 {
    font-size: 8vh;
    text-shadow: -.2vw -.2vw 0 #111, .2vw -.2vw 0 #111, -.2vw .2vw 0 #111, .2vw .2vw 0 #111;
    line-height: 1.1;
    font-style: italic;
    font-weight: 900;
    margin: 0;
    padding: 14vh 0;
}

.section {
    width: 100%;
}

.coming-soon {
    font-size: 4vh;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 1vh 0;
    display: inline-block;
    background: #111;
    padding: .5vh 1vh;
    border-radius: .5vh;
}

.coming-soon-note {
    font-size: 2vh;
    font-style: italic;
    font-weight: 400;
    margin: 0 0 9vh 0;
    display: inline-block;
    background: #111;
    padding: .5vh 1vh;
    border-radius: .5vh;
}

p {
    font-size: 1.5vh;
    display: inline-block;
    background: #111;
    padding: .5vh 1vh;
    border-radius: .5vh;
}

.contact {
    margin: 5.5vh 0;
    padding: .5vh 1vh;
    border-radius: .5vh;
}